*{
	margin:0px;
	box-sizing:boxing-border;
}

body{

background-image: url("../images/hotel.jpg");
background-repeat: no-repeat;
background-size: cover;
height:600px; 
width:100%; 
}

#wraper{
	margin: 5% auto;
	padding-top:3%;
	padding-right:20px;
	height:100%;
	width:40%;
	background-color:brown;

}
label{
	font-size: 20px;
	font-weight:bold;
	color:white;

}
h2{
	margin-left:35%;
	margin-bottom:50px;
	display:inline-block;
		font-weight:bold;
		color:silver;

}
.cent{
	margin-left:35%;
	display:inline-block;
}